body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  color: #333;
}

.header {
  background: #0a3d2e;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
}

.card {
  background: white;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

h2 {
  color: #0a3d2e;
}

ul {
  line-height: 1.8;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: white;
  color: #0a3d2e;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.footer {
  background: #0a3d2e;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.logo{
  width:20px;
  height:auto;
  display:block;
  margin:0 auto 15px auto;
  border-radius:10px;
}
